* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
a,
span {
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100vw;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 10px 50px 10px 10px;
	gap: 10px;
}
.header a {
	text-decoration: none;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.header svg {
	width: 60px;
	height: 40px;
}

.searchbar {
	border-radius: 5px;
	background-color: #f6f7f8;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 10px;
	padding: 8px 20px;
}
.searchbar input {
	border: none;
	outline: none;
	padding: 5px;
	background-color: #f6f7f8;
}
.account-buttons {
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-items: end;
	align-items: center;
	gap: 20px;
}

.account-buttons .button {
	padding: 5px 30px;
	border-radius: 10px;
	border: 1px solid #0079d3;
	font-weight: bold;
	color: #0079d3;
	cursor: pointer;
	background-color: #ffffff;
}

.account-buttons .button.secondary {
	background-color: #0079d3;
	color: #ffffff;
}
.account-buttons img {
	width: 20px;
	cursor: pointer;
}

.main {
	background-color: #dae0e6;
	overflow-y: scroll;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(auto, 1000px);
	justify-content: center;
}

.main-column {
	display: grid;
	grid-template:
		"trending trending" auto
		"popular-posts sidebar" auto
		"posts sidebar" 1fr /
		1fr 310px;
	gap: 20px;
}
h3 {
	margin: 10px 0;
}
.trending {
	grid-area: trending;
}

.trending-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: 200px;
	gap: 10px;
}
.trending-posts .post {
	border-radius: 5px;
	background-color: white;
}

.popular-posts {
	grid-area: popular-posts;
}
.popular-posts .buttons {
	background-color: white;
	padding: 10px 15px;
	display: grid;
	grid-template-columns: repeat(4, auto) 1fr;
	gap: 10px;
}
.popular-posts .buttons button {
	display: grid;
	grid-template-columns: auto auto;
	gap: 5px;
	align-items: center;
	padding: 7px 15px;
	background-color: #f6f7f8;
	color: #0079d3;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	cursor: pointer;
}
.popular-posts .buttons button img {
	height: 20px;
}
.posts {
	grid-area: posts;
}
.posts .post {
	background-color: white;
	border-radius: 5px;
	height: 400px;
	margin-bottom: 10px;
}
.sidebar {
	grid-area: sidebar;
	background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.header {
		grid-template-columns: 1fr 2fr auto;
	}
}
@media screen and (max-width: 800px) {
	.header {
		grid-template-columns: auto 2fr;
		padding: 10px;
	}
	.account-buttons {
		display: none;
	}
	.main {
		padding: 10px 20px;
	}
	.main-column {
		display: grid;
		grid-template:
			"trending " auto
			"popular-posts" auto
			"posts" 1fr /
			1fr;
		gap: 20px;
	}
	.sidebar {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.logo-name {
		display: none;
	}
}
