* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100vw;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 10px;
}
.header a {
	text-decoration: none;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.header svg {
	width: 60px;
	height: 40px;
}

.searchbar {
	border-radius: 5px;
	background-color: #f6f7f8;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 10px;
	padding: 8px 20px;
}
.searchbar input {
	border: none;
	outline: none;
	padding: 5px;
	background-color: #f6f7f8;
}
.account-buttons {
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-items: end;
	align-items: center;
	gap: 20px;
	padding-right: 50px;
}

.account-buttons .button {
	padding: 5px 30px;
	border-radius: 10px;
	border: 1px solid #0079d3;
	font-weight: bold;
	color: #0079d3;
}

.account-buttons .button.secondary {
	background-color: #0079d3;
	color: #ffffff;
}
.account-buttons img {
	width: 20px;
}

.main {
	background-color: #dae0e6;
}
